<%= form_for @shot do |f| %>
	<% if @shot.errors.any? %>
		<h2>We have some errors here !</h2>
		<ul>
	 		<% @shot.errors.full_messages.each do |msg| %>
		 		<li><%= msg %></li>
			<% end %>
	 	</ul>
	<% end %>

	<%= f.label :title, "Title" %>
	<%= f.text_field :title %>

	<%= f.label :description, "Description" %>
	<%= f.text_area :description %>

	<%= f.label :link, "Link" %>
	<%= f.text_field :link %>

	<%= f.submit %>

<% end %>