<%= form_for @shot do |f| %>

	<% if @shot.errors.any? %>
	  <div class="alert alert-persimmon alert-dismissible fade show" role="alert">
	  	<ul class="mb-0">
	  		<% @shot.errors.full_messages.each do |msg| %>
	  			<li><%= msg %></li>
				<% end %>
	  	</ul>
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </div>
	<% end %>

	<%= f.label :title, "Title" %>
	<%= f.text_field :title %>

	<%= f.label :description, "Description" %>
	<%= f.text_area :description %>

	<%= f.label :link, "Link" %>
	<%= f.text_field :link %>

	<%= f.label :image, "Image" %>
	<%= f.file_field :image %>

	<%= f.submit %>

<% end %>
