<section id="shots_show">
	<div class="container">
		<div class="col-12 col-md-10 offset-md-1">
			<div class="row">

				<div class="col-12 col-md-12">
					<h1><%= @shot.title %></h1>
					<div class="text-muted">
						by<strong><%= @shot.user.name %></strong>
						posted <%= verbose_data(@shot.created_at) %>
					</div>
				</div>

				<div class="col-12 col-md-8">
					<div class="show_img">
						<%= image_tag @shot.image_url, class: "img_size" %>
					</div>
					<div class="show_content">
						<%= simple_format @shot.description %>
						<hr>
					</div>
					<div class="comment">
						<h4><%= pluralize(@shot.comments.count, "Comments") %></h4>
						<%= render "comments/comment_show" %>
						<% if user_signed_in? %>
							<%= render "comments/comment_form" %>
						<% else %>
						<div class="comment_item">
							<%= link_to 'Log in', new_user_session_path, class: "text_pink" %> to leave a comment.
						</div>
						<% end %>
					</div>
				</div>

				<div class="col-12 col-md-4 text-muted d-none d-sm-block">
					<ul class="list-group list-group-flush">
					  <li class="list-group-item d-flex justify-content-between align-items-center">
					  	<i class="fa fa-heart"> Like?</i>
					  	<span>0 likes</span>
					  </li>
					  <li class="list-group-item d-flex justify-content-between align-items-center">
					  	<i class="fa fa-comment"> Comment</i>
					  	<span><%= pluralize(@shot.comments.count, "comments") %></span>
					  </li>
					  <li class="list-group-item d-flex justify-content-between align-items-center">
					  	<i class="fas fa-eye"> Views</i>
					  	<span><%= pluralize(@shot.impressionist_count, "views") %></span>
					  </li>
					  <li class="list-group-item">
					  	<%= link_to "Visit Link", @shot.link, class: "btn btn-secondary btn-sm btn-block", target: "_blank" %>
					  </li>
					  <% if user_signed_in? && (current_user.id == @shot.user.id) %>
						  <li class="list-group-item text-center">
						  	<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
								  <%= link_to "Edit", edit_shot_path(@shot), class: "btn btn-outline-danger" %>
								  <%= link_to "Delete", shot_path(@shot), method: :delete, data: {confirm: "Are you sure ?"}, class: "btn btn-outline-danger" %>
								</div>
						  </li>
						<% end %>
					</ul>
				</div>

			</div>
		</div>
	</div>
</section>