<section class="users_show">
	<div class="container">
		<div class="col-12 col-md-8 offset-md-2">

			<div class="row user_header">
				<div class="col-12 col-md-3">
					<% if @user.avatar.blank? %>
						<div class="text-center">
							<img src="http://via.placeholder.com/350x350" class="img-fluid img-thumbnail">
						</div>
					<% else %>
						<%= image_tag @user.avatar_url, class: "img-fluid img-thumbnail" %>
					<% end %>
				</div>

				<div class="col-12 col-md-9">
					<div class="text-left">
						<h1><%= @user.name %></h1>
						<h6 class="card-subtitle mb-2 text-muted"><%= @user.email %></h6>
						<p class="lead"><%= @user.intro %></p>
						<% if user_signed_in? && (current_user.id == @user.id) %>
							<%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>
						<% end %>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</section>